{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/template_handler.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="container-fixed d-flex justify-content-end header-div">
        <p<span class="badge badge-secondary">Logged in as <br>{{ session["user"] }}</span></h5>
    </div>
    <div class="header-div container-fixed d-flex justify-content-between">
        <button id="new-board-button"
                class="btn btn-success"
                type="button"
                data-toggle="modal"
                data-target="#new-board-modal">New Board</button>

        <form action="{{ url_for("logout") }}" method="post">
            <button type="submit" class="btn btn-danger">Sign out</button>
        </form>
    </div>
    <div id="boards-div">Boards are loading...</div>

    <div class="modal fade" id="new-board-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create new board</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="new-board-form">
                        <input type="text" id="new-board-title" placeholder="Enter board title" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"
                            id="save-board-button"
                            type="submit"
                            data-dismiss="modal"
                            form="new-board-form">Save board</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="new-card-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create new card</h3>
                    <button type="button"
                            class="close"
                            data-dismiss="modal">&times;</button>
                </div>
                <form id="new-card-form" action="">
                    <div class="modal-body">
                        <input type="text"
                               id="new-card-title"
                               class="new-card-title"
                               placeholder="Enter card title"
                               required>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary"
                                id="save-card-button"
                                type="submit"
                                data-dismiss="modal" form="new-card-form">Save card</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}