{% extends "layout.html" %}

{% block content %}
    <div class="card" id="login-page-card">
        <h3 id="login-page-title">Welcome</h3>

        <div id="buttons-container">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sign-up-modal">Sign up</button>
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#sign-in-modal">Sign in</button>
        </div>
    </div>

    <div class="modal fade" id="sign-in-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Sign in to Proman</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <input type="text" name="user_name" placeholder="Enter user name" required>
                        <input type="password" name="password" placeholder="Enter password" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary"
                                data-dismiss="modal">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}